<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
        <tbody>
            <tr>
                <td valign="top" align="center">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="600">
                                    <div style="width:600px;margin:20px auto;border-radius:8px">
                                        <div style="background-color:#00607A;padding:30px 50px;border-radius:8px 8px 0 0">
                                            <table width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td valign="middle" style="padding-top:10px">
                                                            <a target="_blank" style="font-size:28px;font-weight:bold;color:#ffffff;
                                                                text-decoration:none;line-height:.5" href="https://www.hemvirtues.com/">
                                                                <img id="img1" src="https://www.hemvirtues.com/Content/img/logo.png" alt="HEM-Virtues" />

                                                            </a>
                                                        </td>
                                                        <td valign="middle" align="right">
                                                            <a target="_blank" style="display:inline-block;background-color:#ffcf46;color:#4d3e15;font-size:16px;padding:10px 20px;border-radius:10px;font-weight:bold;text-decoration:none" href="https://hemvirtue.whizjuniors.com/Account/Login">Log In</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div align="justify" style="background-color:#E6E7E9;padding:25px">
                                            <h1 style="font-size:20px;font-weight:700;color:#3F3F3F"> Hello, </h1>
                                            <p style="color:#3F3F3F;font-size:18px;line-height:28px;font-weight:300">
                                                I hope this email finds you well. On behalf of the Hemvirtues team, I would like to extend our sincerest greetings and heartfelt thanks for your participation in the Social and Emotional Learning (SEL) State-Wide Competition.

                                                We were delighted to receive your project submission on Hemvirtues' portal. Your dedication and commitment to fostering curiosity and values among your students truly stood out, and we deeply appreciate your efforts in promoting SEL initiatives.

                                                Your project exemplifies the importance of nurturing emotional intelligence and character development in today's youth, and we are honored to have the opportunity to review it.

                                                Once again, thank you for your participation and for contributing to the success of the competition. We look forward to seeing more of your school's inspiring initiatives in the future.

                                            </p>

                                            <h2 style="color:blue;font-size:18px;line-height:28px;font-weight:300">
                                                Your SEL Submission Status are:

                                            </h2>

                                            <p style="color:#3F3F3F;font-size:18px;line-height:28px;font-weight:300">
                                                CourseName:
                                                <strong style="font-weight:bold"><%Course%></strong>
                                                <br />
                                                Group Selection Status:
                                                <strong style="font-weight:bold"><%groupSelectionStatus%></strong>
                                                <br />
                                                Image Upload Status: <strong style="font-weight:bold"><%imageUploadStatus%></strong>
                                                <br />
                                                Video Upload Status: <strong style="font-weight:bold"><%videoUploadStatus%></strong>
                                                <br />
                                                Project Explanation Status: <strong style="font-weight:bold"><%projectExplanationStatus%></strong>

                                            </p>
                                            <h2 style="color:green;font-size:18px;line-height:28px;font-weight:300">
                                                Please Re-Submit if anything is Pending !
                                            </h2>
                                            <p style="color:#3F3F3F;font-size:18px;line-height:28px;font-weight:300">
                                                For further queries, Please revert us on <a href="mailto:admin@hemafoundation.org">admin@hemafoundation.org</a> Whatsapp and Contact No.: +91 72280 01342.
                                            </p>
                                            <p style="color:#3F3F3F;font-size:18px;line-height:28px;font-weight:300">
                                                Best Regards,<br />
                                                HEMA Foundation
                                            </p>
                                        </div>
                                        <div style="color: #ffffff; background-color: #00607A; text-align:center; padding:15px 30px 15px 25px;border-radius:0 0 5px 5px">
                                            <p style="color:#E6E7E9;font-size:18px;line-height:28px;font-weight:300; text-align:justify;">
                                                HEM-Virtues is an online competition platform exclusively designed to empower, inspire & educate students in Moral Values. The course comprise of Learn, MCQs , Practical, Task, Results, Impactful Research Reports, E-Certificate, Rewards and Recognition for Students and Institute respectively. The course is available in English and Hindi for Students .
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
