.rev_slider .slotholder:after {
    background: none;
}

label.btn span {
    font-size: 1.5em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="checkbox"] ~ i.fa.fa-check-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label.active {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    div[data-toggle="buttons"] label:hover {
        color: #7AA3CC;
    }

    div[data-toggle="buttons"] label:Inactive, div[data-toggle="buttons"] label.Inactive {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.confirmation-color {
    background-color: #2bb8a3;
    border: 2px solid #fff;
    border-radius: 30px;
}

.bg-pink-light {
    background-color: #ff4b78;
}


/* The container */
.radio-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .radio-box input {
        position: absolute;
        opacity: 0;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    bottom: -10px;
    left: 40%;
    height: 25px;
    width: 25px;
    background-color: #1585de;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-box:hover input ~ .checkmark {
    background-color: #1585de;
}

/* When the radio button is checked, add a blue background */
.radio-box input:checked ~ .checkmark {
    background-color: #1585de;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-box .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.min-45 {
    min-height: 45px !important;
}

.vertical-school {
    width: 304px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position: relative;
    top: 135px;
    z-index: 9;
    left: -120px;
}

.bg-yellow-dark {
    background-color: #FFC107;
}

.vertical-student {
    width: 304px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position: relative;
    top: 130px;
    z-index: 9;
    left: -120px;
}

#googler-toppers .tabs .nav-tabs li.active a, .nav-tabs li a:hover {
    background-color: #f7951e;
    color: #fff;
    border-radius: 15px;
    border-top: none;
}

#googler-toppers .nav-tabs li a, .nav-tabs li a:hover {
    background-color: #f9d921;
    color: #000;
    border-radius: 15px;
    border-top: none;
}

.bg-pink-light {
    background-color: #ff4b78;
}

#confirmation .modal-body {
    font-family: 'Tekton Pro';
}

.cursor-auto {
    cursor: auto;
}

.padding-10 {
    padding: 10px;
}

.w-100 {
    width: 100% !important;
}
