.sold_out {
    top: 2em;
    left: -6em;
    color: #fff;
    display: block;
    position:absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    /*background-color: #F7951E;*/
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em 5em 0.4em 5em;
    /*text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);*/
    font: bold 16px/1.2em Arial, Sans-Serif;
    /*-webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);*/
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index:10;
}
.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}



@media only screen and (max-width: 768px) {
    .sold_out_mobile {
        top: 33px;
        left: -103px;
        color: #fff !important;
        display: block;
        position: absolute;
        text-align: right;
        text-decoration: none;
        letter-spacing: .06em;
        /*background-color: #F7951E;*/
        background: #4AC29A; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 0.5em 7em 0.4em 5em;
        /*text-shadow: 0 0 0.75em #444;*/
        box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        font: bold 17px/1.2em Arial, Sans-Serif;
        -webkit-text-shadow: 0 0 0.75em #444;
        -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        -webkit-transform: rotate(-45deg) scale(0.75,1);
        z-index: 10;
    }

        .sold_out_mobile:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            margin: -0.3em -5em;
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            border: 2px rgba(255,255,255,0.7) dashed;
        }
}

@media only screen and (max-width: 425px) {
    .sold_out_mobile {
    top: 27px;
    left: -96px;
    left: -99px;
    color: #fff!important;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    letter-spacing: .06em;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em 7em 0.4em 5em;
    /*text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);*/
    /*font: bold 17px/1.2em Arial, Sans-Serif;*/
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index: 10;
}
.sold_out_mobile:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
}
@media only screen and (max-width: 375px) {
    .sold_out_mobile {
    top: 20px;
    left: -114px;
    color: #fff!important;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    letter-spacing: .06em;
    /*background-color: #F7951E;*/
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em 7em 0.4em 5em;
    /*text-shadow: 0 0 0.75em #444;*/
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 17px/1.2em Arial, Sans-Serif;
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index: 10;
}
.sold_out_mobile:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
}
@media only screen and (max-width: 320px) {
    .sold_out_mobile {
    font-size: 14px;
    top: 17px;
    left: -99px;
    color: #fff!important;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    letter-spacing: .06em;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em 7em 0.4em 5em;
    /*text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);*/
    /*font: bold 17px/1.2em Arial, Sans-Serif;*/
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index: 10;
}
.sold_out_mobile:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
}