.section-top {
    /*background-color: #000;*/
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
}

what-you-learn {
    background-color: #f9f9f9;
    border: 1px solid #dedfe0;
    padding: 10px 15px;
    box-sizing: border-box;
    position: absolute;
}

.bg-box {
    border: 1px solid #dedfe0;
    padding: 10px 15px;
    background-color: #f9f9f9;
    float: left;
    z-index: 20;
}

.section2 {
    padding: 30px 15px;
    z-index: 20;
}

.intro-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.img-tag {
    width: 150px;
}

.accordion-section {
    float: left;
    width: 100%;
}

.product-review {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

    .product-review .checked {
        color: orange;
    }

    .product-review .unchecked {
        color: rgba(0, 0, 0, 0.2);
    }

.badge1 {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.badge.badge-accented.yellow {
    background-color: #f4c150;
    color: #29303b;
}

.rating-element-item {
    margin-right: 20px;
    margin-top: 5px;
    box-sizing: border-box;
}

div {
    display: block;
}

.what-you-learn-items {
}

.what-you-learn-text {
    font-size: 15px;
    line-height: 15px;
}

.checked {
    color: orange;
}

.unchecked {
    color: white;
}

.position {
    position: absolute;
    z-index: 20;
    left: auto;
    top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-pricing {
    padding: 10px 20px;
}

.text-xxl {
    font-size: 3.2rem;
}

.strike-old {
    text-decoration: line-through;
    color: #adadad;
    font-weight: bold;
}

.display-flex {
    display: flex;
}

/*.btn {
    width: 250px;
    margin: 4px;
}*/

.code-form {
    display: none;
}

    .code-form a {
        background-image: unset;
        background-repeat: unset;
        color: #fff;
        background-size: unset;
        margin: 0 auto;
        border: 1px solid #4a7f9f;
        background-color: #4a7f9f;
        border-radius: 5px;
        width: 100px;
        height: 29px;
        padding: 5px;
    }

    .code-form input {
        background-image: unset;
        background-repeat: unset;
        background-size: unset;
        margin: 0 2px;
        border: 1px solid #a5a5a5;
        border-radius: 5px;
        max-width: 115px;
        height: 29px;
        padding: 5px;
    }

.toggle.taggle-margin {
    margin: 10px 0 10px;
    position: relative;
    clear: both;
}

.top-icons-left {
    width: 50%;
    float: left;
}

.top-icons-right {
    width: 50%;
    float: right;
}

    .top-icons-left a, .top-icons-right a {
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

.m-t-sticky {
    margin-top: 5%;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.comments li {
        clear: both;
        padding: 10px 0 0 115px;
    }

ul.comments li .comment {
            margin-bottom: 10px;
        }

ul.comments li .img-thumbnail {
            margin-left: -115px;
            position: absolute;
        }

.img-thumbnail {
    border-radius: 4px;
    position: relative;
}

ul.comments li img.avatar {
    height: 80px;
    width: 80px;
}

ul.comments .comment-block {
    background: #F4F4F4;
    border-radius: 5px;
    padding: 20px 20px 30px;
    position: relative;
}

ul.comments .comment-arrow {
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F4F4F4;
    border-top: 15px solid transparent;
    height: 0;
    left: -15px;
    position: absolute;
    top: 28px;
    width: 0;
}

ul.comments .comment-block .comment-by {
    display: block;
    font-size: 1em;
    line-height: 21px;
    margin: 0;
    padding: 0 0 5px 0;
}

ul.comments .comment-block p {
    font-size: 0.9em;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

ul.comments .comment-block .date {
    color: #999;
    font-size: 0.9em;
}

.helpful-section a {
    padding: 2px 10px;
    border: solid 1px #4a7f9f;
    margin: 0 5px;
    cursor: pointer;
}

.helpful-report {
    border: none !important;
    margin-right: 10px;
    cursor: pointer;
}

.feature-review-box {
    float: left;
    margin: 25px 0;
}

.course-box_info {
    float: left;
    background: #e67e22;
    color: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: -5px 0 0 -10px;
    box-shadow: 0 8px 6px -6px #00000040;
    border: 1px solid #e67e22;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 14px;
}

.course_img {
    width: 100px;
    height: 100px;
}

.clear {
    clear: both;
}

.course_detail_cont {
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    padding: 15px 15px 15px;
    min-height: 150px;
    height: 150px;
}

.glyphicon {
    margin-right: 5px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {
    margin-top: 0px;
    font-size: 54px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}

.feedback-section {
    width: 100%;
    float: left;
    margin: 35px 0;
}
.check-list{
    list-style-type:none;
}
.check-list span check-icon{
        align-self: flex-start;
    color: #a1a7b3;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 2px;
}
.check-icon:before {
    content: "\F00C";
}
.list-style-none{
    list-style-type:none;
}
.user-btn{
        padding: 5px 10px;
    border-radius: 5px;
    margin: 0 0;
    background-color: #4a7f9f;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.moretext {
  display: none;
}
.moreless-button{
    cursor:pointer;
}
.code-link{
    text-decoration:underline;
}
.bestseller{
        position: absolute;
    background-image: none;
    /* border-radius: 100%; */
    left: 0;
    right: 0;
    top: 24px;
    text-shadow: none;
    width: 30%;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    z-index: 10;
    background-color: #e67e22;
    box-shadow: none;
    font-size: 0.9em;
    color: #fff;
    padding: 0 0;
    border-bottom: 2px solid transparent;
}
.mrc-shadow {
    pointer-events: none;
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    /*z-index: 999;*/
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #ffffffa6), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, #ffffffa6 20%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(bottom, #ffffffa6 20%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, #ffffffa6 20%, rgba(0, 0, 0, 0) 100%);

    /*background: linear-gradient(to top, #ffffffa6 20%, rgba(0, 0, 0, 0) 100%);*/
}

@media only screen and (max-width:768px) {
    .position {
        position: relative;
        z-index: 20;
        left: auto;
        top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
